
{% extends 'base.html' %}

{% block title %} Student List {% endblock title %}

{% block content %} 

<h1 class = 'p-3 mb-2 bg-info text-dark'>Lista de Estudantes</h1>


{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% for StudentModel in object_list %}
    <div>Matrícula: <a href="{{StudentModel.get_absolute_url}}">{{StudentModel.student_id}}</a></div>
    <div>Nome: {{StudentModel.name}}</div>    
    <div>Idade: {{StudentModel.age }}</div>

   
    <p>
    
{% endfor%}


{% endblock content %}